<div class="row">
  <% @userprojects.each do |project| %>
  

      <div class="panel panel-success">             
        <div class="panel-body">                          
          <p>        
            <%= project.name %>
          </p>                
        </div>
      </div>                  
  
  <% end %>
</div>