</br>

<div class="row">
  <% @project.ideas.order("RANDOM()").each do |idea| %>
  <div class="col-md-4">
    <div class="thumbnail" id="thumb">                          
      <%= link_to idea.post, edit_idea_path(idea) %>            
    </div>                  
  </div>
  <% end %> 
</div>

