
<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">          
        <h1> About </h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="thumbnail">     
          <%= image_tag ("Imon.jpg") %> 
          <h2>MaiMon :-) <small>bedankt sich ganz herzlich bei allen Teilnehmern ♥♥♥</small> </h2>
        </div>
      </div>     

      <div class="col-md-9" id="rightCol"> 
        <div class="well">  
          <div class="panel panel-primary">
            <div class="panel-body">      
              <ul class="nav nav-tabs">
                <li class="active"><a  href="#mich" data-toggle="tab"><strong>Über mich</strong></a></li>
                <li><a href="#arbeit" data-toggle="tab"><strong>Über meine Arbeit</strong></a></li>
              </ul>
              <div class="tab-content" style="padding: 0px 20px 0px 20px">
                <div class="tab-pane active" id="mich">  
                </br></br>
                    <p>Mein Name ist Mai Dinh Thanh, ich bin Studentin der Wirtschaftsinformatik an der Hochschule für Wirtschaft und Recht Berlin und befinde mich in meinem Abschlusssemester. Aktuell arbeite ich an meiner Bachelor Thesis <strong>„Evaluierung von computergestütztem Brainstorming mittels Crowdsourcing“</strong>.</p>

                    <p>Zuvor habe ich bereits den Bachelor in Biologie an der Freien Universität Berlin, sowie den Master in molekularer Lebenswissenschaft an der Humboldt Universität Berlin erworben. Zusätzlich zu meinem Studium der Wirtschaftsinformatik promoviere ich derzeit auch in meiner ersten wissenschaftlichen Disziplin im <%= link_to "SPICED-Project", "http://www.spiced.eu/", :target => "_blank" %>. Ich möchte beide Disziplinen sinnvoll vereinen und die Erkenntnisse meines jetzigen Studiums auch in die Arbeit in der Biologie einbringen. Gleichzeitig bin ich durch meine akademische Vergangenheit wissenschaftlichen Anspruch gewohnt und strebe an, dass die Ergebnisse dieser Bachelorarbeit einen verwertbaren Beitrag leisten.</p>
                </div>
                <div class="tab-pane" id="arbeit">              
                  </br></br>
                  <p>In Arbeit und Privatleben begegnet jeder Mensch einer Vielzahl von Problemen und unbekannten Aufgaben. Um diese zu lösen gibt es verschiedene Ansätze. Beispielsweise kann man den analytischen Ansatz wählen und das Problem eingangs sehr genau sezieren und nur praktikable Lösungsvorschläge suchen. Ein anderer Ansatz ist der <strong>kreative, bei welchem zuerst möglichst viele Lösungsvorschläge wertungsfrei gesammelt werden</strong> um anschließend ausgewertet und geprüft zu werden. Dadurch lassen sich <strong>feste Denkmuster durchbrechen und besonders innovative Lösungen generieren</strong>. Mit diesem Ansatz beschäftigt sich auch meine Bachelorarbeit.</p>

                  <p>Ich glaube, dass viele Dinge mit Computern erleichtert werden können und will nun wissen ob auch kreative Aufgaben, welche den menschlichen Verstand erfordern von Programmen unterstützt werden können. Genauer gesagt meine ich damit die Aufgabe Brainstorming. Ich will <strong>ergründen ob ein programmgestütztes Brainstorming mit einer Vielzahl fremder Teilnehmer effektiver sein kann als das klassische Brainstorming mit einem kleinen Kreis vertrauter Teilnehmer</strong>. Zu diesem Zweck habe ich das Programm, dass Ihr auf dieser Seite findet geschrieben. Es dient dabei als Hilfe, Ideen übersichtlich zu teilen und verschiedenen Fragen und Problemen zuzuordnen. Außerdem soll es hilfreiche Techniken und Methoden vorschlagen, die beim Brainstorming zum Einsatz kommen können um den Ideenfluss zu verbessern.</p> 

                  <p>Langfristig könnte ich mir vorstellen, auch ein Bewertungssystem zu implementieren in dem die Nutzer ihre Vorschläge gegenseitig beurteilen können. Im Rahmen der Bachelorarbeit sind die Probleme vorgegeben, für welche Ideen eingegeben werden können. Natürlich sollen später die Nutzer ihre eigenen Fragen und Projekte eingeben können.   
                  </p>  
                </div>
              </div>        
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>