
<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">          
        <h1> Support MaiMon @ IMon </h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well"> 
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">die 4 Regeln des Brainstorming</h3>
            </div>
            <div class="panel-body"> 
              <strong>
                <p>Je mehr Ideen desto besser!</p>
                <p>Je ungewöhnlicher die Ideen desto besser!</p>
                <p>(Selbst-)Kritik bitte zurückstellen!</p>
                <p>Verbessere, kombiniere oder ergänze die bereits genannten Ideen!</p>
              </strong>
            </div> 
          </div> 
          </br>          
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">How to help: short description</h3>
            </div>
            <div class="panel-body"> 
              <strong>
                <p>1. Sign up/Login: keine echte Email nötig.</p>
                <p>2. Profil vervollständigen (oben rechts "Edit Profile")</p>
                <p>3. Ideen zu 2 Fragen eingeben ("Add Idea"): so viele Ideean wie sie dir einfallen</p>
                <p>4. Fragebogen ausfüllen.</p>
              </strong>
            </div> 
          </div>     
        </div>
      </div>         

      <div class="col-md-9" id="rightCol"> 
        <div class="well"> 
          
          <h3>Herzlich Willkommen Ihr lieben Freiwilligen</h3>

          <p>Auf dieser Seite findet Ihr <strong>das Herz meiner Bachelorarbeit</strong>, bei welcher ich eure Hilfe benötige, daher freue ich mich, dass ihr den Weg gefunden habt.</p>

          <p>In der Arbeit geht es um <strong>„Computergestütztes Brainstorming mittels Crowdsourcing“</strong> und da kommt Ihr ins Spiel. Ich brauche eure Ideen um einschätzen zu können, ob auf diesem Wege mehr und bessere Ergebnisse erzielt werden können als über den klassischen Ansatz.</p> 

          <h4>How to help:</h4>
          <p>Wenn Ihr mir dabei helfen möchtet, würde ich euch bitten einen <strong>Account anzulegen und euer Profil zu vervollständigen</strong> damit ich genauer auswerten kann, welche Nutzergruppen wie involviert sind. Die Angaben werden selbstverständlich anonymisiert und ich bitte euch auch nicht euren tatsächlichen Namen als username anzugeben.</p>

          <p>Anschließend könnt Ihr die <strong>Projekte mit Ideen befüttern</strong>. Wichtig für mich wäre es, dass Ihr so lieb seid und Beiträge in <strong>beide Projekte</strong> eingebt, weil ich ansonsten Schwierigkeiten hinsichtlich der Vergleichbarkeit der Ergebnisse bekomme.</p> 
          <p>Ansonsten lasst euren Ideen bitte ganz im Sinne der Vier Regeln des Brainstormings freien Lauf.</p>

          <p>Wenn Ihr fertig seid würde ich mich sehr freuen, wenn Ihr kurz an der <strong>Umfrage zu dieser Webanwendung</strong> teilnehmt. Sie dient dazu, zu ergründen ob die zur Verfügung gestellten Funktionen hilfreich sind und inwieweit ich Verbesserungen vornehmen könnte. Sie umfasst nur eine knappe A4 Seite kurzer Fragen und ein Feld für Bemerkungen und hilft mir die Ergebnisse besser zu deuten. Ihr findet die Umfrage in der Navigationsleiste am Kopf der Seite.</p>  

          <p>Falls Ihr Schwierigkeiten bei der Bedienung der Seite habt findet Ihr ebenfalls in dieser Navigationsleiste  die Kategorie <strong>Hilfe</strong>, in welcher Ihr eine ausführliche Beschreibung der Funktionen und des empfohlenen Vorgehens findet.</p>

           
          <p><strong>Vielen lieben Dank</strong>, dass Ihr euch die Zeit nehmt und mir und der Wissenschaft zur Seite steht.</p>

          <p>Mai Dinh Thanh</p>

          
        </div>
      </div>

    </div>
  </div>
</div>