

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Deadline</th>
      <th>Done</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.deadline %></td>
        <td><%= project.done %></td>
        <td><%= project.user_id %></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>