<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">          
        <h1>Meine Erfahrung</h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">  
        <p><strong> Bitte beantworten Sie die Fragen so zutreffend wie möglich. Achten sie bitte darauf, dass alle Fragen beantwortet werden. </strong></p> 

        <p><strong> Falls sie bereits einen Fragebogen ausgefüllt haben und diesen ändern wollen, klicken sie bitte auf EDIT </strong></p>

        <% @user.questions.order(created_at: :desc).each do |question| %>
	        <%= link_to "Edit", edit_question_path(question), class: "btn btn-warning btn-sm" %>
	      <% end %>
        </div>
      </div>      

      <div class="col-md-9" id="rightCol"> 
        <div class="well"> 
          <%= render 'form' %>
        </div>
      </div>

    </div>
  </div>
</div>


