<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">

      <div class="page-header">          
        <h1>Meine Erfahrung ändern</h1>
      </div>

      <div class="col-md-3" id="leftCol">
        <div class="well">  
        <p><strong> Bitte beantworten Sie die Fragen so zutreffend wie möglich. Achten sie bitte darauf, dass alle Fragen beantwortet werden. </strong></p> 

        </div>
      </div>      

      <div class="col-md-9" id="rightCol"> 
        <div class="well"> 
          <%= render 'form2' %>
        </div>
      </div>

    </div>
  </div>
</div>


